body {
  margin-top: 0 !important;
  padding-top: 0 !important;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

/* SECTION TOP */
#top {
  overflow: hidden;
  background-color: #e6edf7;
}

#header-nav {
  margin-bottom: 1em;
}

.nav-link {
  color: #6A96CC;
  font-size: 1.1rem;
  margin: auto;
}

.nav-link: hover {
  color: #253E6D;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 2em 1em;
  transition: all .5s ease-in-out;
  max-width: 970px;
}

.bg-container {
  margin: auto;
  padding: 0;
  transition: all .5s ease-in-out;
}

.img-fluid {
  margin-top: 48px;
}

.display-1 {
  color: #243E6D;
  font-size: 5rem;
  font-family: 'Pacifico', cursive;
  padding: 2rem 0.5rem;
}

.lead {
  color: #4F77B5;
  font-size: 1rem;
}

.cloud-container {
  position: relative;
}

.cloud {
  position: absolute;
  height: 45px;
  width: 150px;
  background-image: url("images/cloud.svg");
  background-repeat: no-repeat;
}

.left-cloud {
  left: -5em;
  bottom: 0;
}

.right-cloud {
  top: 0;
  right: -5em;
}

/* SECTION HELLO */
#hello {
  margin-top: 2em;
  margin-bottom: 2em;
}

.article-hello {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
}

article header {
  padding: 2em 0;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.5;
  margin: 2rem 0 1rem 0;
  color: #4F77B5;
}

article p {
  font-family: 'Martel', serif;
  font-size: 0.9rem;
  color: #787878;
  line-height: 1.8;
}

article figure img {
  max-width: 200px;
  vertical-align: middle;
}

h2 {
  font-size: 2.5rem;
  line-height: 1.5;
  margin: 0 0 1rem 0;
  color: #243E6D;
}

/* SECTION WHAT I CAN DO */
#what-i-can-do {
  margin-top: 2em;
  margin-bottom: 2em;
}

.design-box {
  text-align: center;
  padding: 0;
}

.what-i-can-do-box{
  margin: 3em 0;
}

/* SECTION I CAN HELP */
#i-can-help {
  margin-top: 2em;
  margin-bottom: 2em;
}

.article-i-can-help {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

/* SECTION BOTTOM */
footer {
  background-color: #e6edf7;
}

footer p {
  font-size: 0.8rem;
  margin: auto;
  color: #6A96CC;
}

/* DIVIDER */
hr {
  border-top: 6px dotted #EAF6F6;
  width: 3rem;
  margin: auto;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .display-1 {
    font-size: 5.5rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .display-1 {
    font-size: 6rem;
  }

  .lead {
    font-size: 1.2rem;
  }

  .left-cloud {
    left: 0;
    bottom: 0;
  }

  .right-cloud {
    top: 0;
    right: 0;
  }

  h3 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 3rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .display-1 {
    font-size: 6.5rem;
  }

  .design-box {
    text-align: left;
    margin-left: 5em;
    width: 80%;
  }

  article p {
    font-size: 1rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .display-1 {
    font-size: 7rem;
  }
}
